<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="window-container">
        <!-- Header -->
        <div class="header">
            The Bank
        </div>

        <div class="content">
            <!-- Left Nav Column -->
            <div class="nav-column">
                <button class="nav-button" id="home" onClick="location.href='/clientHome'">Home</button>
                <button class="nav-button" id="move-money" onClick="location.href='/transactionsPage'">Move Money</button>
                <button class="nav-button" id="profile" onClick="location.href='/userProfile'">Profile</button>
                <button class="nav-button" id="logOut">Log Out</button>
		    </div>

		    <!-- Main content area -->
            <div class="main-content">
                <h2>Accounts</h2>
            </div>
        </div>    
    </div>
</body>